body {
  background-color: khaki;
}

.header {
  background-color: khaki;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.grids {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.Player,
.Computer {
  height: 400px;
  width: 400px;
  background-color: black;
  border: 1px solid black;
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.Player > div,
.Computer > div {
  background-color: white;
}

.carrier,
.battleship,
.destroyer,
.submarine,
.patrolBoat {
  background-color: black !important;
}

[class="1"] {
  background-color: red !important;
}

.\-1 {
  background-color: blue !important;
}
