* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: khaki;
}

.header {
  background-color: khaki;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.announcer {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  margin-bottom: 1rem;
  gap: 2rem;
}

.announcer button {
  height: 2.5rem;
  width: 4rem;
  background-color: black;
  color: white;
  border: black 2px solid;
  border-radius: 4px;
}

.grids {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.wrapper {
  width: 440px;
  height: 440px;
  position: relative;
}

.alphabet {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.numbers {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 400px;
  width: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.Player,
.Computer {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 400px;
  width: 400px;
  background-color: black;
  border: 1px solid black;
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.Player > div,
.Computer > div {
  background-color: white;
}

.carrier,
.battleship,
.destroyer,
.submarine,
.patrolBoat {
  background-color: green !important;
}

[class="1"] {
  background-color: red !important;
}

.\-1 {
  background-color: blue !important;
}
